@mixin center-content {
    align-items: center;
    display: flex;
    justify-content: center;
}

@mixin flex-header-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
