@import "../../styles/mixins";

.header {
  @include flex-header-row;
  background: #333;
  color: #fff;

  &-item {
    padding: 12px;

    &-logo {
      color: black;
      font-family: "Trispace", sans-serif;
      font-size: 3.5em;
      font-weight: 700;
      margin: 0;
      text-shadow: 1px 2px 5px white;
      -webkit-text-stroke-width: 1.2px;
      -webkit-text-stroke-color: white;
    }
  }
}
