@import '../../styles/main.scss';

.piano {
  height: 100%;
  @include center-content;

  &-container {
    border-radius: 4px;
    background: #222;
    display: flex;
    padding: {
      bottom: 1rem;
      top: 2.5rem;
    }
  }

  &-menu {
    background: rgb(118, 153, 161);
    min-height: 3rem;
    @include center-content;
  }

  &-keys {
    display: flex;
    margin: {
      right: 2rem;
    }

    &-key {
      border: {
        left: 1px solid #333;
      }
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;
      list-style: none;
    }

    &-keypress {
      @include center-content;
      background: rgba(0, 0, 0, 0.4);
    }
  }

  &-volumes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: {
      right: 2rem;
    }
    min-width: 7.5rem;

    &-container {
      @include center-content;
      height: auto;
    }

    &-button {
      @include center-content;
      border-radius: 1rem;
      color: #eee;
      font-size: 2.5em;
      min-height: 5rem;
      outline: none;
      width: 100%;

      &#inc {
        background: rgb(38, 209, 38);

        &:active {
          background: rgb(24, 165, 24);
        }
      }

      &#dec {
        background: rgb(230, 57, 57);

        &:active {
          background: rgb(180, 33, 33);
        }
      }
    }
  }

  .black {
    background: #333;
    height: 4rem * 2;
    margin: {
      left: -1rem;
    }
    min-width: 2rem;
    z-index: 1;

    &:active {
      background: linear-gradient(to top, #444 0%, #333 100%);
    }

    &:focus {
      outline: none;
    }
  }

  .white {
    background: #fff;
    height: 4rem * 4;
    min-width: 4rem;
    margin: {
      left: -1rem;
    }

    &#b3,
    &#b4,
    &#b5,
    &#e3,
    &#e4,
    &#e5 {
      margin-right: 1.1rem;
    }

    &:active {
      background: linear-gradient(to bottom, #fff 0%, #e6e6e6 100%);
    }

    &:focus {
      outline: none;
    }
  }
}
